<div id="gallery" class="gallery">
  <div id="gallery-title" class="gallery-title"></div>
  <nav class="gallery-bar gallery-bar-top">
    <button id="gallery-close">
      <span>Close</span>
    </button>
  </nav>
  <div class="gallery-spinner">Loading ...</div>
  <div id="gallery-image" class="gallery-image"></div>
  <div id="gallery-index" class="gallery-index"></div>
  <nav class="gallery-bar gallery-bar-bottom">
    <button id="gallery-previous">
      <span>Previous</span>
    </button>
    <button id="gallery-next">
      <span>Next</span>
    </button>
  </nav>
</div>
