{% include base.html %}
<div class="grid grid-pinboard">
  {% for post in include.posts %}
    {% if post.featured %}
      {% assign featured = post.featured | prepend: "/images/" | prepend: base | append: "-thumb.jpg" %}
    {% endif %}
    {% assign categories = post.categories | jsonify | replace: '"', "'" %}
    <div class="grid-item" data-categories="{{ categories }}">
      <div class="grid-item-inner">
        <section class="preview">
          {% if featured %}
            <a class="no-hover" href="{{ base }}{{ post.url }}">
              <img class="preview-featured-image" src="{{ featured }}">
            </a>
          {% endif %}
          <div class="preview-info">
            <a href="{{ base }}{{ post.url }}">{{ post.title}}</a>
          </div>
        </section>
      </div>
    </div>
  {% endfor %}
</div>
