{% include base.html %}
{%- capture title -%}
  {{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}
{%- endcapture -%}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
  <meta name="description" content="{{ site.description }}">
  <title>{{ title }}</title>
  <link rel="preconnect" href="//fonts.googleapis.com">
  <link rel="preconnect" href="//fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="//fonts.googleapis.com/css2?family=Karla&display=swap">
  <link rel="stylesheet" type="text/css" href="{{ base }}/static/styles.css?{{ site.time | date: '%s%N' }}">
</head>
<body>
  <div class="container">
    <main class="main">
      {{ content }}
    </main>
    <footer>
      <nav class="footer-navigation">
        <ul>
          {% for item in site.navigation.footer %}
            <li class="footer-navigation-item">
              {% include link.html url=item.url label=item.label %}
            </li>
          {% endfor %}
        </ul>
      </nav>
    </footer>
  </div>
  {% include gallery.html %}
  <script type="text/javascript" src="{{ base }}/static/app.js?{{ site.time | date: '%s%N' }}"></script>
</body>
</html>
